@page
@model mission11_giuliani.Pages.CartSubmittedModel
@{
}

<div class="text-center">
    <h2>Cart Submitted!</h2>
    <h3>Thank you for shopping with us!</h3>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>